@import "tailwindcss";

/* Marquee animation */
@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .marquee-container {
    overflow: hidden;
    position: relative;
  }
  
  .marquee {
    display: inline-block;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 15s linear infinite;
  }

 
  .animate-marquee {
    animation: marquee 15s linear infinite;
  }
  
  .marquee-content {
    width: 100%;
    overflow: hidden;
  }